.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  background-size: cover;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
}

@keyframes glowingBorders {
  from {background-color: lightblue;}
  to {background-color: lightcyan;}
}

.InputContainer {
  margin-top: 20%;
}
.InputS.InputS:focus {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}
.InputS.InputS {
  /* margin-top: 30%; */
  font-size: 2rem; 
  background-color: lightblue;
  animation-name: glowingBorders;
  width: 4rem;
  height: 4rem;
}

.SolutionDiv {
  width: 40rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
